*, html { padding: 0; margin: 0; box-sizing: border-box; }

:root {
	/* Color */
	--surface: 0, 0%, 100%, 1;
	--surface-container: 0, 0%, 90%, 1;

	--surface-on: 0, 0%, 0%, 1;

	/* font size */
	--fs-60: 32px;
	--fs-50: 18px;
	--fs-40: 16px;

	/* shadow */
	--shadow-color: 0deg 0% 63%;
	--shadow-elevation-low:
		1px 1px 1.6px hsl(var(--shadow-color) / 0.34),
		1.6px 1.7px 2.6px -1.2px hsl(var(--shadow-color) / 0.34),
		3.8px 4px 6.2px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-medium:
		1px 1px 1.6px hsl(var(--shadow-color) / 0.29),
		2.5px 2.6px 4.1px -0.6px hsl(var(--shadow-color) / 0.29),
		4.9px 5.2px 8px -1.2px hsl(var(--shadow-color) / 0.29),
		9.9px 10.4px 16.2px -1.9px hsl(var(--shadow-color) / 0.29),
		19.2px 20px 31.2px -2.5px hsl(var(--shadow-color) / 0.29);
	--shadow-elevation-high:
		1px 1px 1.6px hsl(var(--shadow-color) / 0.27),
		4.6px 4.8px 7.5px -0.3px hsl(var(--shadow-color) / 0.27),
		8.2px 8.5px 13.3px -0.6px hsl(var(--shadow-color) / 0.27),
		12.4px 12.9px 20.1px -0.8px hsl(var(--shadow-color) / 0.27),
		18.1px 18.9px 29.4px -1.1px hsl(var(--shadow-color) / 0.27),
		26.1px 27.1px 42.3px -1.4px hsl(var(--shadow-color) / 0.27),
		37px 38.6px 60.2px -1.7px hsl(var(--shadow-color) / 0.27),
		51.8px 54px 84.2px -1.9px hsl(var(--shadow-color) / 0.27),
		71.2px 74.2px 115.7px -2.2px hsl(var(--shadow-color) / 0.27),
		96px 100px 155.9px -2.5px hsl(var(--shadow-color) / 0.27);
}

a {
	text-decoration: none;
	color: black;
}

.section__title {
	font-size: var(--fs-50);
	padding-block: 32px;
}

.fullscreen {
	min-height: 100vh;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
	max-width: 1420px;
	width: 100%;
	margin: 0 auto;
	padding-inline: 32px;
}

.block--form {
	max-width: 300px;
	width: 100%;
}

.product__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	width: 100%;
	overflow: hidden;
}
