.header {
	border-bottom: 2px solid hsla(var(--surface-container));
}

.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.menu {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: var(--fs-50);
}

.menu li a {
	display: block;
	padding: 16px;
	cursor: pointer;
}

@media screen and (max-width: 735px) {
	.header {
		border-bottom: none;
	}
	.nav {
		justify-content: end;
	}
	.menu {
		display: none;
	}
}

